body {
  overflow-x: hidden;
}

#banner {
  background-color: rgb(71, 71, 71);
  background-image: url(assets/banner_bg.png);
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100vw;
  height: 100vh;
  border-bottom: 10px solid black;
}

#banner-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-47%) rotate3d(0, 0, 0, 0deg)
    rotate(0deg);
  box-shadow: 2em 4em 6em -2em rgba(0, 0, 0, 0.5),
    1em 2em 3.5em -2.5em rgba(0, 0, 0, 0.5);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.6);
  width: 90%;
  height: 80%;

  &:hover {
    transform: translateX(-50%) translateY(-46%) rotate3d(0.5, -0.866, 0, 15deg)
      rotate(1deg);
  }
}

#banner-content {
  position: absolute;
  color: white;
  font-size: 50px;
  font-family: var(--bs-body-font-family);
  font-weight: 200;
  letter-spacing: 4px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-shadow: 0px 0px 5px 5px black;
  text-align: center;
}

#start-button {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  color: white;
  font-family: var(--bs-body-font-family);
  font-weight: 300;
  border: 1px solid white;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0);
  transition: color 0.2s, background-color 0.3s;

  &:hover {
    background-color: white;
    color: black;
  }
}

main {
  position: absolute;
  top: 100vh;
  width: 100vw;
  max-width: 100vw;
}

#getStarted {
  margin: 30px;
  margin-bottom: 0;
  font-family: var(--bs-body-font-family);
  display: flex;
  flex-direction: row;
  h1 {
    font-weight: 300;
  }
  hr {
    margin-left: -10px;
    width: 45vw;
  }
}

#discord-welcome {
  position: relative;
  transform: perspective(1500px) rotateY(15deg) scale(0.8);
  transition: transform 1s ease 0s;

  &:hover {
    transform: perspective(3000px) rotateY(5deg) scale(0.9);
  }
}

#img_discord-welcome {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#dc-logo-box_discord-welcome {
  background-color: #5865f2;
  position: absolute;
  border-radius: 10px;
  right: -25px;
  margin-top: -40px;
  padding: 15px;
  width: 200px;
  z-index: 10;
  cursor: pointer;
}

#pricing {
  margin: 30px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  font-family: var(--bs-body-font-family);
  h1 {
    font-weight: 300;
  }
  hr {
    width: 65vw;
  }
}

#pricing-bots_box {
  display: flex;
  margin: 10px;
  max-width: calc(100vw - 20px);
  align-items: center;
}

#pricing-bots {
  width: 60vw;
  padding-left: 5vw;
}

#img_pixelbot {
  transform: perspective(1000px) rotateX(4deg) rotateY(-16deg) rotateZ(4deg);
  box-shadow: 24px 16px 64px 0 rgba(0, 0, 0, 0.08);
  width: 20vw;
  max-width: 300px;
  border-radius: 10px;
  transition: transform 0.45s;

  &:hover {
    transform: perspective(1000px) rotateX(2deg) rotateY(-8deg) rotateZ(2deg);
  }
}

#addons {
  margin: 30px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  font-family: var(--bs-body-font-family);
  h1 {
    font-weight: 300;
  }
  hr {
    width: 65vw;
  }
}

#pricing-addons_box {
  display: flex;
  margin: 10px;
  max-width: calc(100vw - 20px);
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;

  hr {
    width: 100%;
  }
}

.seperator {
  border-color: rgb(150, 150, 150);
}

/* Stile für Bildschirme kleiner als 1100px */
@media (max-width: 1100px) {
  #getStarted {
    flex-direction: column;
  }
  #dc-logo-box_discord-welcome {
    left: 320px;
  }
  #pricing-bots_box {
    flex-direction: column;
  }
  #img_pixelbot {
    width: 70vw;
    margin-bottom: 30px;
    transform: perspective(1000px) rotateX(3deg) rotateY(-12deg) rotateZ(3deg);
  }
}

/* Stile für Bildschirme kleiner als 550px */
@media (max-width: 550px) {
  #img_discord-welcome {
    width: 85vw;
  }
  #dc-logo-box_discord-welcome {
    left: 170px;
  }
}

/* Stile für Bildschirme kleiner als 410px */
@media (max-width: 410px) {
  #dc-logo-box_discord-welcome {
    left: 120px;
  }
}
